.card{
  background: white;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 180px;
  height: 200px;
  transition: transform .25s ease;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card:hover{
  transform: scale(1.1);
}
.card img{
  padding: 1rem;
  max-width: 100%;
  object-fit: cover;
}
.card .name{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: #aaa;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:0 0 .5rem .5rem;
  text-transform:capitalize;
  
}

