@font-face{
  font-family: "pokemon";
  /* src: url(./assets/Pokemon\ Solid.ttf) */
}
:root{
  --font-outline: #3c5aa6;
  --font-inner: #ffcb05;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  font-family: "pokemon", sans-serif;
  height: 100vh;
  width: 100vw;
  font-size:20px;
  
}

.game{
  height: 100vh;
  display: flex;
  flex-direction: column;
}